@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,400;0,700;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,100;0,400;0,700;1,400;1,500;1,600&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

}


html{
    scroll-behavior: smooth;
}
/* styling for whole site*/
button{
    cursor: pointer;
    border: none;
    background: none;
}
img{
    width: 100%;
}
.section-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: rgb(48, 20, 1);
}

.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: x-large;
}
.section-title::after{
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    background-color: rgb(247, 182, 4);
    margin: 10px auto 0;
    border-radius: 20px;

}
/*syling for navbar*/
header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.navbar .nav-logo{
    color: white;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}
.navbar .nav-menu{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.navbar .nav-link{
    padding: 10px 18px;
    transition: 0.3s ease;
    border-radius: 20px;
    font-size: medium;
    color: white;
    text-decoration: none;
}
.navbar .nav-link:hover{
    color: rgb(73, 36, 10);;
     background-color: rgb(247, 182, 4);

}
.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}
.hero-section{
    min-height: 100vh;
    background-color: rgb(90, 5, 5);
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: white;
    justify-content: space-between;
}
.hero-section .hero-details .title{
    font-size: xx-large;
    color: rgb(247, 182, 4);
    font-family: 'Miniver', sans-serif;
}
.hero-section .hero-details .subtitle{
    margin-top: 8px;
    max-width: 70%;
    font-weight: bold;
    font-size: x-large;

}
.hero-section .hero-details .description{
    max-width: 70%;
    margin: 24px 0 48px;
    font-weight: lighter;
}
.hero-section .button-group .order-now{
    padding: 10px 20px;
    background-color: rgb(247, 182, 4);
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s ease;
}
.hero-section .button-group .order-now:hover {
    color: white;
    border-color: white;
    background: transparent;
}
.hero-section .button-group .contactus{
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border-color: white;
    background: transparent;
    text-decoration: none;
    transition: 0.3s ease;
}
.hero-section .button-group .contactus:hover {
    background-color: rgb(247, 182, 4);
    border-color: white;
    color: rgb(90, 5, 5);

}
.hero-section .hero-image-wrapper{
    max-width: 500px;
    margin-right: 30px;
}
/* about section styling*/
.about-section{
    padding: 120px 0;
    background-color: rgb(250, 223, 227);
}
.about-section .section-content{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}
.about-section .about-image-wrapper .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.about-section .about-details{
    max-width: 50%;
}

.about-section .section-content .section-title{
    padding: 0;
}
.about-section .social-link-list{
    display: flex;
    
    gap: 20px;
    justify-content: center;
}
.social-link{
    transition: 0.2s ease;
    font-size: large;
}

.about-section .social-link-list .social-link:hover{
    color:  rgb(247, 182, 4);
}
.about-section .text{
    line-height: 30px;
    margin: 50px 0 30px;
    text-align: center;
    font-size: medium;
}
/*menu styling */
.menu-section {
    background-color: black;
    padding: 50px 0 100px;
    color: white;
}
.menu-section .menu-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 110px;
    justify-content: space-between;

}

.menu-section .menu-list .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: calc(100% / 3 - 110px);
}

.menu-section .menu-list .menu-item .menu-image{
    max-width: 83%;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
}

.menu-section .menu-list .menu-item .name{
    margin: 12px 0;
    font-size: larger;
    font-weight: bold;
}
.menu-section .menu-list .menu-item .text{
    font-size: small;
}

/* testimonial section styling */
.testimony-section{
    padding: 50px 0 100px;
    background-color: rgb(248, 213, 219);


}
.testimony-section .testimonial{
    list-style-type: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
    text-align: center;
}
.testimony-section .testimonial .name{
    margin-bottom: 16px;
    font-size: small;
}

.testimony-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: rgb(247, 187, 23);
}
.testimony-section .slider-wrapper{
    overflow: hidden;
    margin: 0 60px 50px;
}
.testimony-section .swiper-slide-button {
    color: rgb(250, 195, 14);
    transition: 0.2s ease;
    margin-top: -50px;
}

.testimony-section .swiper-slide-button:hover{
    color:   rgb(48, 8, 8);
}
.testimony-section .testimonial .feedback{
    line-height: 26px;
}
.testimony-section .testimonial .user-image{
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-bottom: 50px;
    border-radius: 50%;

}

/* gallery section styling*/
.gallery-section {
    padding: 50px 0 100px;

}
.gallery-section .gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.gallery-section .gallery-list .gallery-item {
    overflow: hidden;
    border-radius: 20px;
    width: calc(100% / 3 - 32px);
}
.gallery-section .gallery-item .gallery-image{
    width: 100%;
    height: 100%;
    cursor: zoom-in;
    transition: 0.3s ease;
}
.gallery-section .gallery-item:hover .gallery-image{
    transform: scale(1.3)
}
/* contact us section styling */
.contact-section {
    padding: 50px 0 100px;
    background-color: rgb(247, 211, 247);
}
.contact-section .section-content {
    display: flex;
    gap: 48px;
    align-items: flex-start;
    justify-content: space-between;
}
.contact-section .contact-info-list .contact-info{
    display: flex;
    margin: 20px 0;
    gap: 20px;
    align-items: center;
}
.contact-section .contact-info-list .contact-info i {
    font-size: small;
}
.contact-section .contact-form .form-input:focus{
    border-color: rgba(82, 11, 11, 0.973);
}
.contact-section .contact-form .form-input{
    width: 100%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0 12px;
    outline: none;
    margin-bottom: 16px;
    background-color: white;
}
.contact-section .contact-form textarea.form-input {
    height: 100px;
    padding: 12px;
    resize: vertical;
}
.contact-section .contact-form .submit-button{
    padding: 10px 26px;
    margin-top: 10px;
    transition: 0.3s ease;
    color: white;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    border: 2px solid rgb(48, 8, 8);
    background-color: rgb(48, 8, 8);
}
.contact-section .contact-form .submit-button:hover{
    color: rgb(48, 8, 8);
    background: transparent;
}


.footer-section{
    padding: 20px 0;
    background-color: black;
}
.footer-section .section-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28px;
    
}
.footer-section :where(.copyright-text, .social-link, .policy-link){
    color: white;
}
.footer-section .section-content .policy-link{
    text-decoration: none;
}
.footer-section .section-content .seperator{
    color: white;
}
.footer-section .social-link-list{
    display: flex;
    gap: 25px;
}

.footer-section .social-link-list .social-link{
    transition: 0.3s ease;
    font-size: x-large;
}
.footer-section .section-content .policy-link:hover,
.footer-section .social-link-list .social-link:hover{
    color: rgb(240, 218, 24);
}
/* responsive media query for screen max width 1024px */

@media screen and (max-width: 1024px) {
    .menu-section .menu-list{
        gap: 60px;
    }

.menu-section .menu-list .menu-item {
     width: calc(100% / 3 - 60px);
}}
/* Responsive media query for screens max width 900px*/

@media screen and (max-width: 900px) {
    .navbar .nav-menu {
        display: block;
        position: fixed;
        left: -300px;
        top: 0;
        width: 300px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background-color: white;
        transition: left 0.2s ease;
    }

    body.slider-wrapper::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgb(0, 0, 0, 0.2);
    }
    body.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background: rgb(0, 0, 0, 0.2);
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        display: block;
        font-size: large;
    }
    .navbar #menu-open-button{
        color: white;
    }
    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;

    }
    .navbar .nav-menu .nav-link{
        color:rgb(43, 42, 42);
        display: block;
        margin-top: 18px;
        font-size: x-large;
    }

    .hero-section .section-content {
        gap: 50px;
        text-align: center;
        padding: 30px 20px 20px;
        flex-direction: column-reverse;
        justify-content: center;

    }
    .hero-section .hero-details :is(.subtitle, .description), .about-section .about-details, .contact-section .contact-form{
        max-width: 100%;
    }

    .hero-section .hero-details .button{
        justify-content: center;
    }
    .hero-section .hero-image-wrapper{
        max-width: 270px;
        margin-right: 0;
    }

    .about-section .section-content{
        flex-direction: column-reverse;
        gap: 70px;
    }

    .about-section .about-image-wrapper .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .menu-section .menu-list{
        gap: 30px;
    }

    .menu-section .menu-list .menu-item {
        width: calc(100% / 3 - 30px);
    }

    .menu-section .menu-list .menu-item .menu-image{
        max-width: 200px;
    }
    .gallery-section .gallery-list .gallery-item {
        width: calc(100% / 2 - 30px);

    }

    .contact-section .section-content {
        align-items: center;
        flex-direction: column-reverse;
    }
}
/* Responsive media query for screens max width 640px*/
@media screen and (max-width: 640px) {
    .testimony-section .slider-wrapper{
        margin: 0 0 30px;
    }
    .testimony-section .swiper-slide-button{
        display: none;
    }

    .menu-section .menu-list{
        gap: 60px;
    }

    .menu-section .menu-list .menu-item{
        width: 100%;
    }

    .gallery-section .gallery-list{
        gap: 60px;
    }
    .gallery-section .gallery-list .gallery-item{
        width: 100%;
    }

    .footer-section .section-content{
        flex-direction: column;
        gap: 20px;
    }
}